body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
.Tarjetaa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: rgb(85, 72, 181);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
